source https://api.nuget.org/v3/index.json
redirects: off
framework: net8.0
storage: none

nuget FSharp.Core >= 6.0.0 lowest_matching: true
nuget SharpZipLib ~> 1.3.3
nuget Mono.Cecil ~> 0.11.4
nuget Argu ~> 6.2.5
nuget Aardvark.Build ~> 2.0.5